
.conteiner-about {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .conteiner-about {
    min-width: 768px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1280px) {
  .conteiner-about {
    max-width: 1280px;
  }
}
.flowers {
  font-weight: 400;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .flowers {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .flowers {
    font-size: 22px;
  }
}
.flo{
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .flo {
    width: 322px;
    height: 168px;
  }
}
@media screen and (min-width: 1280px) {
  .flo {
    width: 510px;
    height: 135px;
  }
}
 @media screen and (min-width: 768px) {
  .flow{
    display: flex;
    align-items: center;
    gap: 54px;
    }
  }
 @media screen and (min-width: 1280px) {
  .flow{
    gap: 90px;
    }
        }

