
.my-slick-prev{
  position: absolute;
  bottom: -61px;
  margin-right: 75px;
  font-size: 30px;
}
.my-slick-next{
  position: absolute;
  bottom: -61px;
  margin-left: 75px;
  font-size: 30px;
}
.conteiner-blog{
max-width: 480px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.list-blog{
  max-width: 288px;
margin: auto;
display: flex;
justify-content: center;
margin-top: 32px;
}
.list-item-blog{
  margin-left: 16px;
  font-weight: 500;
}

.title-item-blog{
text-align: center;
margin-top: 68px;
}



@media  screen and (min-width:768px) {
  .conteiner-blog{
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .title-item-blog{
    margin-top: 87px;
    font-size: 32px;
  }

  .subscribe-button-blog{
    font-size: 28px;
    padding: 15px 71px;
    margin-top: 32px;
  }

  .button-blog{
    margin-top: 8px;
  }
  .list-blog{
      max-width: 720px;
    margin-top: 60px;
  }
  .list-item-blog{
    margin-left: 32px;
  }
  .my-slick-prev{
    font-size: 40px;
  }
  .my-slick-next{
    font-size: 40px;
  }
}
@media screen and (min-width:1280px) {
  .conteiner-blog{
    max-width: 1280px;
  }
  .list-blog{
  max-width: 1280px;
  }

  .title-item-blog{
    margin-top: 104px;
  }
}

#Blog{
  padding-bottom: 60px;
}

@media screen and (min-width:1280px) {
  #Blog{
    padding-bottom: 100px;
  }
}