
.section-blog{

}
.conteiner-blog{
max-width: 448px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.list-blog{
  margin-top: 32px;
  font-size: 24px;
  display: flex;
  gap: 16px;
  justify-content: center;
}
.title-blog{
  display: flex;
  align-items: center;

}
.title-blog::after{
  content: '';
  margin-left: 14px;
  width: 100%;
  border: 0.5px solid #000000;
height: 0;

}
.title-item-blog{
text-align: center;
margin-top: 14px;
}
.subscribe-button-blog{
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 18px;
  padding: 8px 40px;
  background-color: #E86F54;
  border-radius: 38px;
  margin-top: 28px;
display: block;
margin-left: auto;
margin-right: auto;
}
.subscribe-button-blog:hover{
  background-color: #E25B41;
}
.subscribe-button-blog:focus{
  background-color: #FA6F54;
}
.button-blog{
  margin-top: 4px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.button-slick{
  width: 61px;
  height: 61px;
}
@media  screen and (min-width:768px) {
  .conteiner-blog{
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .title-item-blog{
    margin-top: 18px;
    font-size: 32px;
  }
  .title-blog{
    font-size: 44px;
  }
  .subscribe-button-blog{
    font-size: 28px;
    padding: 15px 71px;
    margin-top: 32px;
  }
  .button-blog{
    margin-top: 8px;
  }
  .list-blog{
    gap: 32px;
    margin-top: 60px;
  }
}
@media screen and (min-width:1280px) {
  .conteiner-blog{
    max-width: 1232px;
  }
  .title-blog{
    margin-top: 122px;
  }
  .title-item-blog{
    margin-top: 24px;
  }
}