.delivery-section {

  position: relative;

}

.delivery-container {
  padding-left: 16px;
  padding-right: 16px;
  width: calc(320px - 16px * 2);
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .delivery-container {
    width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .delivery-container {
    width: 720px;
  }
}

@media screen and (min-width: 1280px) {
  .delivery-container {
    width: 1232px;
  }
}

.delivery-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .delivery-title {
    font-size: 44px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .delivery-title {
    margin-bottom: 80px;
  }
}

.delivery-title::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(126px + 14px);
  height: 1px;
  width: calc(100% - (126px + 14px));
  background-color: #000;
}

@media screen and (min-width: 320px) {
  .delivery-title::after {
    width: 148px;
    left: calc(126px + 14px);
  }
}

@media screen and (min-width: 768px) {
  .delivery-title::after {
    width: 473px;
    left: calc(231px + 16px);
  }
}

@media screen and (min-width: 1280px) {
  .delivery-title::after {
    width: 985px;
    left: calc(231px + 16px);
  }
}

.delivery-list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

@media screen and (min-width: 320px) {
  .delivery-list {
    width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .delivery-list {
    row-gap: 20px;
    width: 680px;
  }
}

@media screen and (min-width: 1280px) {
  .delivery-list {
    row-gap: 32px;
    width: 1088px;
  }
}

.delivery-list-item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

@media screen and (min-width: 768px) {
  .delivery-list-item {
    column-gap: 20px;
  }
}

@media screen and (min-width: 1280) {
  .delivery-list-item {
    column-gap: 56px;
  }
}

.delivery-list-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .delivery-list-number {
    font-size: 26px;
    width: 64px;
    height: 64px;
  }
}

.delivery-list-description {
  font-weight: 500;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .delivery-list-description {
    font-size: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .delivery-list-description {
    font-size: 32px;
  }
}

.delivery-flowers-picture {
  margin-top: 26px;
  width: 100%;
  height: 135px;
  object-fit: cover;
  bottom: 60px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .delivery-flowers-picture {
    height: 264px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .delivery-flowers-picture {
  height: 391px;
  margin-top: 60px;
  max-width: 1280p
  }
}


@media screen and (min-width: 768px) {





}

@media screen and (min-width: 1280px) {





}