.modal-order-flowers{
   position: absolute;
  top: 50%;
  left: 50%;
  max-width: 240px;
  padding: 16px 16px;
margin: auto;
background-color: #fff;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
transform: translate(-50%, -50%) scale(0.7);
  transition: opacity 250ms linear, visibility 250ms linear,
    transform 300ms linear;
}
.icon-close-store{
  width: 18px;
  height: 18px;
}
.button-modal-close{
  display: block;
  margin-left: auto;
}
.button-modal-send{
  font-family: 'Montserrat';
font-weight: 600;
color: white;
font-size: 14px;
padding: 10px 102px;
background: rgba(232, 111, 84, 0.4);
border-radius: 8px;
margin-top: 24px;

}
form:valid .button-modal-send:enabled{
  background: #E86F54;
}

.title-modal-flowers{
  font-size: 20px;
  margin-bottom: 14px;
}
.title-item-flower{
  font-size: 12px;
color: #5C5C5C;
margin-bottom: 18px;
}
.label-modal-flower{
  position: absolute;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 10px;
color: #5C5C5C;
left: 0;
top: 18px;
}
.label-modal-flower{
  position: absolute;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 10px;
color: #5C5C5C;
left: 0;
top: 18px;
}

.input-flower{
  width: 214px;
  border: 1px solid #D7D7D7;
border-radius: 4px;
padding: 10px 12px;
outline: none;
margin-top: 34px;

}

.input-flower:focus{
  border: 1px solid rgba(17, 17, 17, 0.7);;
}
.input-flower:not(:placeholder-shown):required:valid ~ .label-modal-flower ~ .icon-store-form{
  color: #3CBC81;
  fill: #3CBC81;
}
.input-flower:not(:placeholder-shown):required:valid{
  border: 1px solid #3CBC81;
}

.input-flower:not(:placeholder-shown):required:invalid ~ .label-modal-flower  ~ .icon-store-form{
  fill: #E74A3B;
  color: #E74A3B;
}
.input-flower:not(:placeholder-shown):required:invalid {
  border: 1px solid #E74A3B;
}
.conteiner-form{
  position: relative;
}
.icon-store-form{
  position: absolute;
  fill: #fff;
right: 14px;
  top: 45px;
width: 12px;
height: 12px;
}

.modal-thank{
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
transform: translate(-50%, -50%) scale(0.7);
  transition: opacity 250ms linear, visibility 250ms linear,
    transform 300ms linear;
  background-color: #fff;
  width: 480px;
  height: 511px;
  padding: 16px;
  text-align: center;
  margin: auto;
 visibility: hidden;
  opacity: 0;

}
.modal-photo-thank{

  display: inline-block;
 margin-top: 10px;
}

.title-thank{
  margin-top: 16px;
  font-size: 20px;
}
.title-item-thank{
  margin-top: 14px;
  font-size: 12px;
  color: #5C5C5C;
}
.button-continue{
  font-family: 'Montserrat';
font-weight: 600;
font-size: 14px;
width: 100%;
padding: 10px 80px;
background: #E86F54;
color: #fff;
border-radius: 8px;
margin-top: 18px;
}
.backdrop-thank{
  position: fixed;
top: 0;
left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms;

}
.backdrop-thank.is-hidden{
opacity: 0;
pointer-events: none;
}

.backdrop-order-flowers{
  position: fixed;
top: 0;
left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms;
}
.backdrop-order-flowers.is-hidden{
opacity: 0;
pointer-events: none;
}
@media screen and (min-width: 768px) {
    .modal-order-flowers{
    max-width: 416px;
    padding: 24px;
  }
  .icon-close-store{
    width: 24px;
    height: 24px;
  }
  .title-modal-flowers{
    font-size: 32px;
  }
    .input-flower {
    width: 382px;
    padding: 16px;
    font-size: 14px;
  }
    .icon-store-form{
    width: 20px;
    height: 20px;
    top: 48px;
  }
  .label-modal-flower{
    font-size: 14px;
    top: 10px;
  }
  .button-modal-send{
    font-size: 18px;
    padding: 14px 184px;
    width: 100%;
  }
}