.store-section {
  margin: 0 auto;
  min-width: 320px;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .store-section {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .store-section {
    max-width: 1280px;
  }
}

.store-container {
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .store-container {
    padding: 0 24px;
  }
}

.store-list {
  max-width: calc(136px * 2 + 16px);
  margin: 0 auto 32px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .store-list {
    max-width: 100%;
    column-gap: 32px;
    row-gap: 40px;
    justify-content: center;
    margin: 0 0 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .store-list {
    row-gap: 64px;
  }
}

.store-item {
  width: 136px;
}

@media screen and (min-width: 768px) {
  .store-item {
    width: 344px;
  }
}

@media screen and (min-width: 1280px) {
  .store-item {
    width: 600px;
  }
}

.item-img {
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .item-img {
    margin-bottom: 16px;
  }
}

.store-subtitle {
  margin-bottom: 6px;

  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .store-subtitle {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 8px;

    font-size: 32px;
  }

  .store-subtitle::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000000;
  }
}

@media screen and (min-width: 1280px) {
  .store-subtitle {
    margin-bottom: 4px;

    font-size: 36px;
  }
}

.store-text {
  font-weight: 600;
  font-size: 12px;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .store-text {
    font-size: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .store-text {
    font-size: 28px;
  }
}
