.store-section {
  margin: 0 auto;
  min-width: 320px;
  max-width: 480px;
}
.modal-order-flowers{
  max-width: 240px;
  padding: 16px 16px;
margin: auto;
background-color: #fff;
}
.icon-close-store{
  width: 18px;
  height: 18px;
}
.button-modal-close{
  display: block;
  margin-left: auto;
}
.button-modal-send{
  font-family: 'Montserrat';
font-weight: 600;
color: white;
font-size: 14px;
padding: 10px 102px;
background: rgba(232, 111, 84, 0.4);
border-radius: 8px;
margin-top: 24px;

}
form:valid .button-modal-send:enabled{
  background: #E86F54;
}

.title-modal-flowers{
  font-size: 20px;
  margin-bottom: 14px;
}
.title-item-flower{
  font-size: 12px;
color: #5C5C5C;
margin-bottom: 18px;
}
.label-modal-flower{
  position: absolute;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 10px;
color: #5C5C5C;
left: 0;
top: 18px;
}
.label-modal-flower{
  position: absolute;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 10px;
color: #5C5C5C;
left: 0;
top: 18px;
}

.input-flower{
  width: 214px;
  border: 1px solid #D7D7D7;
border-radius: 4px;
padding: 10px 12px;
outline: none;
margin-top: 34px;

}

.input-flower:focus{
  border: 1px solid rgba(17, 17, 17, 0.7);;
}
.input-flower:not(:placeholder-shown):required:valid ~ .label-modal-flower ~ .icon-store-form{
  color: #3CBC81;
  fill: #3CBC81;
}
.input-flower:not(:placeholder-shown):required:valid{
  border: 1px solid #3CBC81;
}

.input-flower:not(:placeholder-shown):required:invalid ~ .label-modal-flower  ~ .icon-store-form{
  fill: #E74A3B;
  color: #E74A3B;
}
.input-flower:not(:placeholder-shown):required:invalid {
  border: 1px solid #E74A3B;
}
.conteiner-form{
  position: relative;
}
.icon-store-form{
  position: absolute;
  fill: #fff;
right: 14px;
  top: 45px;
width: 12px;
height: 12px;
}
.modal-thank{
  background-color: #fff;
  width: 240px;
  padding: 16px;
  text-align: center;
  margin: auto;
  
}
.modal-photo-thank{
  display: inline-block;
 margin-top: 10px;
}
.title-thank{
  margin-top: 16px;
  font-size: 20px;
}
.title-item-thank{
  margin-top: 14px;
  font-size: 12px;
  color: #5C5C5C;
}
.button-continue{
  font-family: 'Montserrat';
font-weight: 600;
font-size: 14px;
width: 100%;
padding: 10px 80px;
background: #E86F54;
color: #fff;
border-radius: 8px;
margin-top: 18px;
}
.backdrop-thank{
  position: fixed;
top: 0;
left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms;
  
}
.backdrop-thank.is-hidden{
opacity: 0;
pointer-events: none;
}
.backdrop-thank.is-hidden .modal-thank{
  /* transform: translate(-50%, -50%)  scale(0.9); */
}
.backdrop-order-flowers{
  position: fixed;
top: 0;
left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms;
}
.backdrop-order-flowers.is-hidden{
opacity: 0;
pointer-events: none;
}
.backdrop-order-flowers.is-hidden .modal-order-flowers{
  /* transform: translate(-50%, -50%)  scale(0.9); */
}
@media screen and (min-width: 768px) {
  .store-section {
    max-width: 768px;
  }
  .modal-order-flowers{
    max-width: 416px;
    padding: 24px;
  }
  .icon-close-store{
    width: 24px;
    height: 24px;
  }
  .title-modal-flowers{
    font-size: 32px;
  }
  .title-item-flower{
    font-size: 16px;
  }
  .input-flower {
    width: 382px;
    padding: 16px;
    font-size: 14px;
  }
  .icon-store-form{
    width: 20px;
    height: 20px;
    top: 48px;
  }
  .label-modal-flower{
    font-size: 14px;
    top: 10px;
  }
  .button-modal-send{
    font-size: 18px;
    padding: 14px 184px;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .store-section {
    max-width: 1280px;
  }
}

.store-container {
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .store-container {
    padding: 0 24px;
  }
}
.store-title {
  display: flex;
  align-items: center;
  gap: 14px;

  margin-bottom: 32px;

  font-size: 24px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .store-title {
    margin-bottom: 60px;

    font-size: 44px;
  }
}

.store-title::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.store-list {
  max-width: calc(136px * 2 + 16px);
  margin: 0 auto 32px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .store-list {
    max-width: 100%;
    column-gap: 32px;
    row-gap: 40px;
    justify-content: center;
    margin: 0 0 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .store-list {
    row-gap: 64px;
  }
}

.store-item {
  width: 136px;
}

@media screen and (min-width: 768px) {
  .store-item {
    width: 344px;
  }
}

@media screen and (min-width: 1280px) {
  .store-item {
    width: 600px;
  }
}

.item-img {
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .item-img {
    margin-bottom: 16px;
  }
}

.store-subtitle {
  margin-bottom: 6px;

  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .store-subtitle {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 8px;

    font-size: 32px;
  }

  .store-subtitle::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000000;
  }
}

@media screen and (min-width: 1280px) {
  .store-subtitle {
    margin-bottom: 4px;

    font-size: 36px;
  }
}

.store-text {
  font-weight: 600;
  font-size: 12px;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .store-text {
    font-size: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .store-text {
    font-size: 28px;
  }
}
