  .button-blog{
padding: 8px 39.5px;
    font-size: 18px;
    margin-top: 24px;
  }
  .button-store{
    padding: 10px 35px;
    font-size: 20px;
  }
.button{
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #E86F54;
    border-radius: 38px;
    display: block;
    margin: auto;
    line-height: 24px;
    font-weight: 500;
  }

  @media  screen and (min-width:768px){
    .button{
        font-size: 28px;
      }
      .button-blog{
        padding: 20px 69.5px;
      }
          .button-store{
            padding: 20px 43.5px;
          }
  }

  .button:hover{
    background-color: #E25B41;
    animation: pulse;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
  }

  .button:focus{
    background-color: #FA6F54;
  }
