<footer class="footer-section">
    <div class="footer-container">
        <a class="footer-logo" href="../index.html">
            <svg class="footer-logo-icon">
                <use href="../img/icons.svg#logo"></use>
            </svg>
        </a>

        <nav class="footer-section-width">
            <p class="footer-info-section-title">Navigation</p>
            <ul class="footer-nav-list">
                <li class="footer-nav-list-item">
                    <a class="footer-text footer-nav-list-link" href="#anemon">Anemone</a>
                </li>
                <li class="footer-nav-list-item">
                    <a class="footer-text footer-nav-list-link" href="#About">About us</a>
                </li>
                <li class="footer-nav-list-item">
                    <a class="footer-text footer-nav-list-link" href="#Store">Store</a>
                </li>
                <li class="footer-nav-list-item">
                    <a class="footer-text footer-nav-list-link" href="#Delivery">Delivery</a>
                </li>
            </ul>
        </nav>
        
        <div class="footer-openin-time-section footer-section-width">
            <p class="footer-info-section-title">Opening times</p>
            <ul class="footer-opening-time-list">
                <li class="footer-text">Every day</li>
                <li class="footer-text">9:00 - 22:00</li>
            </ul>
        </div>
        
        <address class="footer-section-width">
            <p class="footer-info-section-title">Contacts</p>
            <ul class="footer-address-list">
                <li><a class="footer-text" href="tel:+380631234567">+38 063 123 45 67</a></li>
                <li><a class="footer-text footer-mail-address"
                        href="mailto:anemonestudio@example.com">anemonestudio<br class="footer-line-break">@example.com</a></li>
                <li class="footer-text">Reitarska Street, 11 <br>
                    Kyiv, Ukraine</li>
            </ul>
        </address>
        
        <ul class="footer-social-list footer-section-width">
            <li>
                <a href="#" rel="noreferrer noopener">
                    <svg class="footer-social-link-icon">
                        <use href="../img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" rel="noreferrer noopener">
                    <svg class="footer-social-link-icon">
                        <use href="../img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
        
            </li>
        </ul>
    </div>
</footer>
