<header class="header">
  <section class="header-container">
    <a class="header-logo" href="#">
      <svg class="icon-logo">
        <use href="./img/icons.svg#Logo-mobil"></use>
      </svg>
      
      <svg class="icon-logo-big">
        <use href="./img/icons.svg#logo"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <a class="header-link" href="anemon">Anemone</a>
      <a class="header-link" href="About">About us</a>
      <a class="header-link" href="Store">Store</a>
      <a class="header-link" href="Delivery">Delivery</a>
      <a class="header-link" href="Blog">Blog</a>
    </nav>
    <button class="header-contact" type="button">
      <svg class="icon-tel">
        <use href="./img/icons.svg#tel"></use>
      </svg>
    </button>
    <button class="mobil-meny js-open-menu" type="button">
      <svg class="icon-mobil-menu">
        <use href="./img/icons.svg#icon-Burger"></use>
      </svg>
    </button>
  </section>
</header>
<!-- mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu" type="button">
      <svg class="menu-icon" width="12px" height="12px">
          <use href="./img/icons.svg#icon-close"></use>
      </svg>
  </button>
  <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
              <a href="" class="mobile-menu-link">Anemone</a>
          </li>
          <li class="mobile-menu-item">
              <a href="" class="mobile-menu-link">About us</a>
          </li>
          <li class="mobile-menu-item">
              <a href="" class="mobile-menu-link mob-link">Store</a>
          </li>
          <li class="mobile-menu-item">
            <a href="" class="mobile-menu-link mob-link">Delivery</a>
        </li>
        <li class="mobile-menu-item">
          <a href="" class="mobile-menu-link mob-link">Blog</a>
      </li>
      </ul>
  </nav>
  <!-- <address class="mobile-menu-contact">
      <ul class="mobile-contact-list">
          <li class="mobile-link-tel">
              <a class="mobile-contact-link mob-cont-tell" href="tel:+110001111111">+11 (000) 111-11-11</a>
          </li>
          <li class="mobile-link-mail">
              <a class="mobile-contact-link" href="mailto:info@devstudio.com">info@devstudio.com</a>
          </li>
      </ul>
  </address> -->
  <!-- <div class="mobile-social-content">
      <ul class="mobile-socials-list">
          <li class="mobile-socials-items">
              <a class="mobile-socials-link" href="" aria-label="Instagram link">
                  <svg class="mobile-socials-icons" width="24px" height="24px">
                      <use href="./images/icon.svg/icons.svg#icon-instagram"></use>
                  </svg>
              </a>
          </li>
          <li class="mobile-social-items">
              <a class="mobile-socials-link" href="" aria-label="Twitter link">
                  <svg class="mobile-socials-icons" width="24px" height="24px">
                      <use href="./images/icon.svg/icons.svg#icon-twitter"></use>
                  </svg>
              </a>
          </li>
          <li class="mobile-social-items">
              <a class="mobile-socials-link" href="" aria-label="Facebook link">
                  <svg class="mobile-socials-icons" width="24px" height="24px">
                      <use href="./images/icon.svg/icons.svg#icon-facebook"></use>
                  </svg>
              </a>
          </li>
          <li class="mobile-social-items">
              <a class="mobile-socials-link" href="" aria-label="Linkedin link">
                  <svg class="mobile-socials-icons" width="24px" height="24px">
                      <use href="./images/icon.svg/icons.svg#icon-linkedin2"></use>
                  </svg>
              </a>
          </li>
      </ul>
  </div> -->
</div>
