<header class="header">
  <section class="header-container">
    <a class="header-logo" href="#">
      <svg class="icon-logo">
        <use href="./img/icons.svg#Logo-mobil"></use>
      </svg>
      <svg class="icon-logo-big">
        <use href="./img/icons.svg#logo"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <a class="header-link" href="anemon">Anemone</a>
      <a class="header-link" href="About">About us</a>
      <a class="header-link" href="Store">Store</a>
      <a class="header-link" href="Delivery">Delivery</a>
      <a class="header-link" href="Blog">Blog</a>
    </nav>
    <button class="header-contact" type="button">
      <svg class="icon-tel">
        <use href="./img/icons.svg#tel"></use>
      </svg>
    </button>
    <button class="mobil-meny" type="button">
      <svg class="icon-mobil-menu">
        <use href="./img/icons.svg#icon-Burger"></use>
      </svg>
    </button>
  </section>
</header>
