<main>
  <section class="hero">
    <div id="anemon"></div>
    <div class="hero-container">
      <h1 class="hero-title">ANEMONE</h1>
      <p class="hero-badge">flower studio</p>
      <button class="hero-btn" type="button">
        <div class="arrow-div">
          <svg class="btn-arrow-mobil" width="28" height="28">
            <use id="btn-arrow" href="./img/icons.svg#btn-arrow-mobil"></use>
          </svg>
        </div>
        <svg class="btn-text-mobil" width="76" height="76">
          <use id="btn-txt" href="./img/icons.svg#btn-text-mobil"></use>
        </svg>

        <div class="arrow-div">
          <svg class="btn-arrow-tabl" width="58" height="58">
            <use href="./img/icons.svg#btn-arrow-tabl"></use>
          </svg>
        </div>
        <svg class="btn-text-tabl" width="145" height="150">
          <use href="./img/icons.svg#btn-text-tabl"></use>
        </svg>

        <svg class="hero-btn-svg">
          <use class="btn-text" href="./img/icons.svg#btn-txt"></use>
          <use class="btn-arrow" href="./img/icons.svg#btn-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="hero-shape">
      <img
        class="hero-img"
        src="./img/hero_image_mobil.jpg"
        alt="Flower studio preview"
      />
      <img
        class="hero-img-tabl"
        src="./img/Hero-image-tablet.jpg"
        alt="Flower studio preview"
      />
      <img
        class="hero-img-laptop"
        src="./img/hero-bg.jpg"
        alt="Flower studio preview"
      />
    </div>
  </section>
</main>
