<!-- /**
  |============================
  | BACKDROP
  |============================
*/ -->
<div class="js-backdrop-modal">
  <!-- Subscribe MOodal -->
  <div class="subscribe-modal modal" data-modal="2">
    <button class="close-button js-modal-close" type="button">
      <svg class="modal-close-icon" width="18" height="18">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-bgc"></div>
    <form class="subscribe-form">
      <b class="modal-title">Follow&nbsp;to&nbsp;our&nbsp;newsletter</b>
      <p class="modal-text">
        Be the first to get exclusive offers and the latest news on our product
        directly in your box.
      </p>

      <label class="subscribe-formfield">
        <span class="input-wrapper">
          <input
            class="subscribe-input input input-js"
            type="email"
            name="email"
            placeholder="Your email"
          />
          <svg class="error-logo valid-logo" width="20" height="20">
            <use href="./img/icons.svg#error-logo"></use>
          </svg>
          <svg class="success-logo valid-logo" width="20" height="20">
            <use href="./img/icons.svg#success-logo"></use>
          </svg>

          <span class="label-name">Email</span>
        </span>
      </label>

      <button class="subscribe-button button button-js" type="submit">
        Subscribe
      </button>
    </form>
  </div>
</div>
