/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* Utils */


@import url('./utils/variables.css');


/* BASE */


@import url('./base/common.css');

@import url('./base/reset.css');


/* Components */


@import url('.//components/buttons.css');

@import url('./components/h_section.css');


/* Layout */


@import url('./layout/header.css');

@import url('./layout/hero.css');

@import url('./layout/about.css');

@import url('./layout/store.css');

@import url('./layout/delivery.css');

@import url('./layout/blog.css');

@import url('./layout/footer.css');




